<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="#" (click)="GoBack()"></ion-back-button>
      </ion-buttons>
      <ion-title>{{name}}</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
       </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <h2>{{codigo}}</h2>
    </ion-item>
    

    <ion-item>
      Periodo
      <ion-item item-end>
        {{periodo}}
      </ion-item>
    </ion-item>
    
    <ion-item *ngIf="prelaciones">
      Prelaciones
    </ion-item>
    <ion-item (click)="GoPrelaciones(prelacion1)" color="success" *ngIf="prelacion1 !== undefined">
      {{prelacion1n}}
    </ion-item>
    <ion-item (click)="GoPrelaciones(prelacion2)" color="success" *ngIf="prelacion2 !== undefined">
    {{prelacion2n}}
    </ion-item>
    
    
    <ion-item *ngIf="antelaciones">
      Antelaciones
    </ion-item>
      <ion-item (click)="GoAntelaciones(antelacion1)" color="success" *ngIf="antelacion1 !== undefined">
        {{antelacion1n}}
      </ion-item>
      <ion-item (click)="GoAntelaciones(antelacion2)" color="success" *ngIf="antelacion2 !== undefined">
        {{antelacion2n}}
      </ion-item>
      <ion-item (click)="GoAntelaciones(antelacion3)" color="success" *ngIf="antelacion3 !== undefined">
        {{antelacion3n}}
      </ion-item>

    <ion-item>
      Creditos Para Ver
      <ion-item item-end>
        {{creditosParaVer}}
      </ion-item>
    </ion-item>

    <ion-item>
      Trimestres Disponibles
      <ion-item item-end>
        {{T1}}
      </ion-item>
      <ion-item item-end>
        {{T2}}
      </ion-item>
      <ion-item item-end>
        {{T3}}
      </ion-item>
    </ion-item>

    <ion-item>
      <ion-label>Aprobada</ion-label>
      <ion-checkbox [(ngModel)]="aprobada" (ionChange)="checkAprobada()" color="success"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>