<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/(home:home)"></ion-back-button>
          </ion-buttons>
      <ion-title>Materia</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
       </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item>
      <h2>{{name}}</h2>
    </ion-item>
    <ion-item>
      <h1>{{codigo}}</h1>
    </ion-item>

    <ion-item>
      Periodo
      <ion-item item-end>
        {{periodo}}
      </ion-item>
    </ion-item>

    <ion-item>
      Prelaciones
      <ion-item button item-end (click)="GoPrelaciones(prelacion1)">
        {{prelacion1n}}
      </ion-item>
      <ion-item button item-end (click)="GoPrelaciones(prelacion2)">
        {{prelacion2n}}
      </ion-item>
    </ion-item>

    <ion-item>
      Antelaciones
      <ion-item button item-end (click)="GoAntelaciones(antelacion1)">
        {{antelacion1n}}
      </ion-item>
      <ion-item button item-end (click)="GoAntelaciones(antelacion2)">
        {{antelacion2n}}
      </ion-item>
      <ion-item button item-end (click)="GoAntelaciones(antelacion3)">
        {{antelacion3n}}
      </ion-item>
    </ion-item>

    <ion-item>
      Creditos Para Ver
      <ion-item item-end>
        {{creditosParaVer}}
      </ion-item>
    </ion-item>

    <ion-item>
      Trimestres Disponibles
      <ion-item item-end>
        {{T1}}
      </ion-item>
      <ion-item item-end>
        {{T2}}
      </ion-item>
      <ion-item item-end>
        {{T3}}
      </ion-item>
    </ion-item>

    <ion-item>
      <ion-label>Aprobada</ion-label>
      <ion-checkbox [(ngModel)]="aprobada" (click)="marcar()" color="secondary"></ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>