<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/(home:home)"></ion-back-button>
          </ion-buttons>
      <ion-title>SystemFlux</ion-title>
        <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
       </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-tabs>
    <ion-tab label="Home" icon="home" href="/tabs/(home:home)">
      <ion-router-outlet name="home"></ion-router-outlet>
    </ion-tab>
  <ion-tab label="Flujograma" icon="school" href="/tabs/(materias:materias)">
    <ion-router-outlet name="materias"></ion-router-outlet>
  </ion-tab>
  <ion-tab label="Oferta Anual" icon="list" href="/tabs/(oferta:oferta)">
    <ion-router-outlet name="oferta"></ion-router-outlet>
  </ion-tab>
</ion-tabs>