<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header>
        <ion-toolbar color = "primary">
          <ion-title color = "tertiary">SystemFlux</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item color = "light" [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon color = "tertiary" slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                  <ion-title color = "primary">{{p.title}}</ion-title>
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>