<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>materias</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
     </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
    <ion-list>
      <!--<ion-item button *ngFor="let item of items" (click)="Go(item._id)">
        {{ item.name }}
      </ion-item> dejare este codigo por aqui-->
      <ion-item button *ngFor="let itemb of itemsb" (click)="Go(itemb._id)">
        {{itemb.name}}
      </ion-item>
      <ion-list-header >
          <ion-label position="fixed"> Periodo 1 </ion-label>
        </ion-list-header>
      <ion-item button *ngFor="let itemp1 of itemsp1" (click)="Go(itemp1._id)">
          <ion-label > {{itemp1.name}} </ion-label>
      </ion-item> 
      <ion-list-header>
          <ion-label  position="fixed"> Periodo 2 </ion-label>
        </ion-list-header>
      <ion-item button *ngFor="let itemp2 of itemsp2" (click)="Go(itemp2._id)">
          <ion-label > {{itemp2.name}} </ion-label>
      </ion-item>
      <ion-list-header>
          <ion-label position="fixed"> Periodo 3 </ion-label>
        </ion-list-header>
      <ion-item button *ngFor="let itemp3 of itemsp3" (click)="Go(itemp3._id)">
          <ion-label> {{itemp3.name}} </ion-label>
      </ion-item> 
      <ion-list-header>
          <ion-label position="fixed"> Periodo 4 </ion-label>
        </ion-list-header>
      <ion-item button *ngFor="let itemp4 of itemsp4" (click)="Go(itemp4._id)">
          <ion-label> {{itemp4.name}} </ion-label>
      </ion-item>
      <ion-list-header >
          <ion-label position="fixed"> Periodo 5 </ion-label>
        </ion-list-header>
      <ion-item button *ngFor="let itemp5 of itemsp5" (click)="Go(itemp5._id)">
          <ion-label> {{itemp5.name}} </ion-label>
      </ion-item>
      <ion-list-header>
          <ion-label position="fixed"> Periodo 6 </ion-label>
        </ion-list-header>
      <ion-item button *ngFor="let itemp6 of itemsp6" (click)="Go(itemp6._id)">
          <ion-label> {{itemp6.name}} </ion-label>
      </ion-item> 
      <ion-list-header>
          <ion-label position="fixed"> Periodo 7 </ion-label>
        </ion-list-header>
      <ion-item button *ngFor="let itemp7 of itemsp7" (click)="Go(itemp7._id)">
          <ion-label> {{itemp7.name}} </ion-label>
      </ion-item>
      <ion-list-header>
          <ion-label position="fixed"> Periodo 8 </ion-label>
        </ion-list-header>
      <ion-item button *ngFor="let itemp8 of itemsp8" (click)="Go(itemp8._id)">
          <ion-label> {{itemp8.name}} </ion-label>
      </ion-item>
      <ion-list-header >
          <ion-label position="fixed"> Periodo 9 </ion-label>
        </ion-list-header>
      <ion-item button *ngFor="let itemp9 of itemsp9" (click)="Go(itemp9._id)">
          <ion-label > {{itemp9.name}} </ion-label>
      </ion-item> 
      <ion-list-header>
          <ion-label position="fixed"> Periodo 10 </ion-label>
        </ion-list-header>
      <ion-item button *ngFor="let itemp10 of itemsp10" (click)="Go(itemp10._id)">
          <ion-label> {{itemp10.name}} </ion-label>
      </ion-item>
      <ion-list-header>
          <ion-label position="fixed"> Periodo 11 </ion-label>
        </ion-list-header>
      <ion-item button *ngFor="let itemp11 of itemsp11" (click)="Go(itemp11._id)">
          <ion-label> {{itemp11.name}} </ion-label>
      </ion-item>
      <ion-list-header>
          <ion-label position="fixed"> Periodo 12 </ion-label>
        </ion-list-header>
      <ion-item button *ngFor="let itemp12 of itemsp12" (click)="Go(itemp12._id)">
          <ion-label> {{itemp12.name}} </ion-label>
      </ion-item>
      </ion-list>
  </ion-content>

