<ion-header>
        <ion-toolbar color = "primary">
            <ion-buttons slot="start">
              <ion-back-button defaultHref="#" (click)="GoBack()"></ion-back-button>
              </ion-buttons>
          <ion-title color = "secondary">Informacion</ion-title>
            <ion-buttons slot="end">
              <ion-menu-button></ion-menu-button>
           </ion-buttons>
        </ion-toolbar>
  </ion-header>
<ion-content padding>
  <ion-card>
    <ion-card-header>
        Escuela de Ingenieria de Sistemas
    </ion-card-header>
    <ion-card-content>
        <div>
        Director: Prof. Pilar Cuenca
      </div>
      <div>
        Correo electrónico: pcuenca@unimet.edu.ve 
      </div>
      <div>
        Teléfono: 0212-240.35.68 / 240.35.70
      </div>
      <div>
        Edificio: Corimon
      </div>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-title>Links de Interes</ion-title>
      </ion-card-header>
      <ion-card-content>
        <div>
          <a href="http://www.unimet.edu.ve">Universidad Metropolitana</a>          
        </div>

        <div>
          <a href="http://sirius.unimet.edu.ve/irj/portal">Sirius Unimet</a> 
        </div> 

        <div>
            <a href="http://www.unimet.edu.ve/ceum/">CEUM</a> 
          </div> 
      </ion-card-content>
    </ion-card>
    <ion-card>
        <ion-card-header>
            <ion-title>SystemFlux</ion-title>
        </ion-card-header>
        <ion-card-content>
            <div>
              <a href="https://github.com/ivanpbf/SystemFlux">Repositorio GitHub</a>
            </div>
            <div>
            Equipo:
          </div>
          <div>
            Manuel Ojeda
          </div>
          <div>
            Carlos Martinez 
            <a href="https://www.instagram.com/athiats/">@athiats</a> 
          </div>
          <div>
            Ivan Loscher
          </div>
        </ion-card-content>
      </ion-card>
</ion-content>
